.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
    background-color: var(--form-bg);
    color: var(--secondary-text);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: all 0.3s;
    &:hover{
        box-shadow: 0 0 10px rgba(0,0,0,0.3);
    }
    
}
